#header {
    background-color: wheat;
}



/*------------------selve "om os" siden------------------------*/



main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 8vw;
}


h2:after {
    content: '';
    width: 60px;
    height: 5px;
    display: block;
    background-color: white;
    margin-top: 25px;

}


/*------------------Footer------------------*/

footer p {
    text-align: center;
    color: black;
    font-size: 0.8rem;
    padding-top: 5vw;
}

/*---------------media-q.---------------------*/


@media (min-width: 700px) {

    #p2 {
        margin: 0;
    }

    #topbox {
        margin-top: 4vw;
    }



    #topbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5vw;
        align-items: center;
    }


    #bundbox {
        margin-top: 4vw;
    }

    #bundbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5vw;
        align-items: center;
    }

    #bundbox p {
        text-align: right;
    }

    #bundbox p {
        text-align: left;
        margin-bottom: 8vw;
        margin-top: 7vw;
    }

    h2 {
        margin-top: 2vw;
    }
}
