#header {
    background-color: wheat;
}

/*--------------first_section--------------*/

#title {
    color: black;
}


p {

    text-align: justify;
}

h1:after {
    content: '';
    width: 60px;
    height: 5px;
    display: block;
    background-color: white;
    margin-top: 25px;

}

h2:after {
    content: '';
    width: 60px;
    height: 5px;
    display: block;
    background-color: white;
    margin-top: 25px;

}

footer p {
    text-align: center;
    color: black;
    font-size: 0.8rem;
    padding-top: 10vw;
}

@media (min-width: 900px) {

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        align-items: center;

    }


}
